* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
    --border: #868686;
    --button-text: #473404;
}
body{
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    height: 100%;
}
main>img{
    margin: 40px;
    margin-bottom: 0;
    align-self: flex-start;
}

body > img{
    flex: 1;
    height: 100%;
    object-fit: cover;
}

.form-container {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.form-container>a{
    color: var(--border);
    font-size: 10px;
}
.form {
    background: var(--form-background);
    border-radius: 4px;
    padding: 55px 120px;
}
.login-title{
    display: flex;
    align-items: center;
    gap: 13px;
    color: var(--text-title);
    font-size: 14px;
}
.form p{
    color: var(--text-base);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto';
    margin-top: 5px;
    margin-bottom: 27px;
}
.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.input label{
    font-weight: 500;
    font-size: 14px;
    color: var(--text-base);
}
.input div input{
    width: 100%;
    background: transparent;
    padding: 10px;
    border: 2px solid var(--border);
    border-radius: 4px;
    color: var(--text-base);
    font-family: 'Roboto';
    font-size: 12px;
    padding-left: 32px;
    transition: .4s;
}
.input div input::placeholder{
    color: var(--text-base);
}
.input div{
    position: relative;
}
.input div svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 15px;
    color: var(--text-base);
    transition: .4s;
}
.input div svg.eye{
    left: inherit;
    right: 10px;
    opacity: 0.5;
}
.input div input:focus{
    border-color: var(--primary-color);
    outline: none;
}
.input div input:focus + svg {
    color: var(--primary-color);
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkbox{
    display: flex;
    align-items: center;
    gap: 3px;
}

.main {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 20px;
    font-size: 13px;
    font-family: 'Roboto';
    color: var(--text-base);
    font-weight: 300;
}
  
input[type=checkbox] {
    visibility: hidden;
}
  
.geekmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background: transparent;
    border-radius: 2px;
    border: 1px solid var(--border);
    transition: 0.4s;
}
  
.main input:active ~ .geekmark, .main input:checked ~ .geekmark {
    background: var(--primary-color);
    border-color:  var(--primary-color);
}
  
.main input:checked ~ .geekmark:after {
    display: block;
}
  
.main .geekmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 3.5px;
    bottom: 4px;
    width: 3px;
    height: 5px;
    border: solid var(--form-background);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
a{
    font-size: 11px;
    font-weight: 600;
    color: var(--primary-color);
}
a span{
    font-weight: 400;
}
.signin{
    text-align: center;
}
form button{
    width: 100%;
    padding: 10px 0px;
    background: var(--primary-color);
    color: var(--button-text);
    font-weight: 600;
    letter-spacing: 1.5;
    border-radius: 4px;
    border: none;
    transition: 0.4s;
}
form button:hover{
    filter: brightness(1.05);
}